<ul>
  <li><%= link_to "Business", "#" %></li>
  <li><%= link_to "Entertainment", "#" %></li>
  <li><%= link_to "Lifestyle", "#" %></li>
  <li><%= link_to "News", "#" %></li>
  <li><%= link_to "Sports", "#" %></li>
  <li><%= link_to "Technology", "#" %></li>
  <li><%= link_to "World", "#" %></li>
</ul>

