<div style="float:right;top:40px;text-align:center;" class="row-fluid col-xs-12 col-sm-8 col-md-10 col-lg-10">
  <h1 class="show_topic_headline"><%= @topic.name %></h1>
  <div id="follow_topic">
    <%= render :partial => "topics/follow_topic", :locals => {:topic => @topic} %>
  </div>
<!--   <h1 class="round-button">+</h1> -->
  <hr>
  <div id="columns">
    <% @topic.recordings.each do |topic| %>
      <div style="margin:0 5px 0;" class="pin topic_show_pin">
        <h1><%= link_to "#{topic.title}", recording_path(topic.id) %></h1>
        <%= link_to image_tag("#{topic.image}"), recording_path(topic.id) %><br>
      <p style="font-size:12px;text-align:center"><%= link_to "#{topic.provider.name}", provider_path(topic.provider.id) %></p>
      <p style="font-size:12px;text-align:center"><%= topic.author %></p><br>
      <p style="font-size:10px;text-align:center">17 Audicles | 120 Followers </p>
      </div>
    <% end %>
  </div>
</div>
