    <div style="float:right;" class="row-fluid col-xs-12 col-sm-8 col-md-10 col-lg-10">
        <div id="columns">
            <% @users.each do |user|  %>
                <div class="pin">
                    as
                    <h5 style="text-align:center"><%= user.email %></h5>
                    <% if user.image_url.present? %>
                        <%= link_to image_tag("#{user.image_url}"), user_path(user.id) %>
                    <% else %>
                        <%= link_to image_tag("https://s3.amazonaws.com/uifaces/faces/twitter/_everaldo/128.jpg") %>
                    <% end %>
                    <p style="font-size:10px;text-align:center"><%= user.recordings.count %> Audicles | <%= user.followers.count %> Listeners </p><br>
                    <% if user_signed_in? && current_user!=user %>
                      <div id="follow_user">
                        <%= render :partial => "follow_user", :locals => {:user => user} %>
                      </div>
                    <% end %>
                    <p style="text-align:center"></p>
                </div>
            <% end %>
        </div>
    </div>

   <!--  <div class="row-fluid">
        <div class="span6">1 half</div>
        <div class="span6">2 half</div>
    </div> -->
<!--                     <div id="follow_form">
                        <#% if current_user.following?(user) %>
                          <#%= form_for(current_user.relationships.find_by(followed_id: user.id), html: { method: :delete }, remote: true) do |f| %>
                            <#%= f.submit "Unfollow", style:"width:120px;", class: "btn btn-default" %>
                          <#% end %>
                        <#% else %>
                            <#%= form_for(current_user.relationships.build(followed_id: user.id), remote: true) do |f| %>
                              <#%= f.hidden_field :followed_id %>
                              <#%= f.submit "Follow", style:"width:120px;", class: "btn btn-default btn-primary" %>
                            <#% end %>
                        <#% end %>
                    </div> -->
