<div>
  <%= image_tag "small_logo.png", style:"margin:45px auto;position: relative;display: inherit" %>
  <h4 style="margin:0 auto;position: relative;text-align:center;font-family:'Raleway';font-size:24px">Welcome back!</h4>
  <%= form_for(resource, as: resource_name,  url: session_path(resource_name)) do |f| %>
    <div>
      <!-- <#%= f.label :email %> -->
      <br />
    <%= f.email_field :email, autofocus: true, placeholder:"Email" %></div>

    <div>
      <!-- <#%= f.label :password %> -->
      <br />
      <%= f.password_field :password, autocomplete: "off", placeholder:"Password" %></div>

    <div><%= f.submit "Log in " %></div>
    <%= render "devise/shared/links" %>
  <% end %>
</div>

