<div style="margin:0;padding:0;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div style="text-align:center;padding:0;position:fixed;" class="sidebar col-xs-12 col-sm-4 col-md-2 col-lg-2">
          <h1 style="margin-bottom:0px;" class="audicle_dashboard_heading"><%= link_to "AUDICLE", :authenticated_root %></h1>
        <!--   <p class="tagline">Read To Others. Let Others Read To You</p> -->
          <ul class="account_links">
              <% if current_user %>
                  <li><%= link_to "#" do %>
                    <i class="fa fa-star"></i>
                    <% end %>
                  </li>
                  <li><%= link_to "#" do%>
                    <i class="fa fa-users"></i>
                    <% end %>
                  </li>
                  <li style="margin-right:0px"><%= link_to "#" do %>
                    <i class="fa fa-gear"></i>
                    <% end %>
                  </li>
              <% else %>
                  <li><%= link_to "Sign Up", "#" %></li>
                  <li><%= link_to "Sign In", "#" %></li>
              <% end %>
          </ul>
          <ul class="nav_links">
              <li><%= link_to "Readers", users_path, class:"user_nav_link" %></li>
              <li><%= link_to "Providers", providers_path, class:"provider_nav_link" %></li>
              <li><%= link_to "Categories", topics_path, class:"topics_nav_link" %></li>
          </ul>
          <ul class="bottom_nav">
            <% if current_user %>
              <li><%= link_to "Sign Out", destroy_user_session_path, method:"delete" %></li>
              <li><%= link_to "Everywhere", providers_path %></li>
              <li><%= link_to "About", topics_path %></li>
          </ul>
          <% end %>
        </div>
 <!-- left open div for content on other pages -->
